*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    color: black;
    font-family: "Montserrat", sans-serif;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: "DM Sans", sans-serif;
    font-family: "Montserrat", sans-serif;
}
.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.logo{
    font-size: 45px;
    font-weight: bold;
    float: left;
    font-family: comic sans-serif;
    color: black;
    padding: 0 25px;
    font-weight: 700px;  
}
.menu{
    float: right;
}
nav {
    width: 100%;
    margin: auto;
    display: flex;
    line-height: 80px;
    top: 0;
    background: white;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav ul li{
    float: left;

}
nav ul li a{
    color: black;
    text-align: center;
    font-size: 23px;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}
nav ul li a:hover{
    text-decoration: underline;
}
section{
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}

.kolom {
    margin-top: 50px;
    margin-bottom: 50px;
}
h1{
    color: black;
    font-size: 43px;
    padding: 0 25px;
    font-weight: 700px;
    margin: 0 0 16px;
    font-weight: bold;
    float: left;
    padding-top: 50px;
}
p {
    color: grey;
    margin: 0 0 16px 0;
    margin-bottom: 15px;
    font-size: 23px;
    float: left;
    padding: 0 25px;
    font-weight: 700px;
}
img{
    float: right;
    border-radius: 10px;
    border: 3px solid white;
    margin-right: 20px;
    width: 500px;
    size: 100px;
}
button {
    border: none;
    color: white;
    font-size: 23px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 25%;
    height: 15%;
    margin-left: 25px;
}
.btn-1 {
    text-align: center;
    color: black;
    border: 2px solid aquamarine;
    background-color: white;
    float: left;
  }
  
.btn-2 {
    margin-left: 10px;
    text-align: center;
    color: white;
    background-color: aquamarine;
    border: 2px solid white;
    float: left;
}
.kolom2ke1{
    display: grid;
    float: left;
    text-align: center;
    justify-content: center;
    margin: 5px;
    padding: 20px;
  }
.kolom2ke2 {
    display: grid;
    float: left;
    text-align: center;
    justify-content: center;
    margin: 5px;
    padding: 20px;
}
.kolom2ke3 {
    display: grid;
    text-align: center;
    float: left;
    justify-content: center;
    margin: 5px;
    padding: 20px;
}
table {
    border: none;
    position: relative;
    justify-content: center;
    background-color: aquamarine;
    color: aquamarine;
    border: 2px solid aquamarine;
    width: 50px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

.Experts{
    font-size: 35px;
    padding-top: 0;
    font-weight: bold;
}
.Clients{
    font-size: 35px;
    padding-top: 0;
    font-weight: bold;
}
.Projects{
    font-size: 35px;
    padding-top: 0;
    font-weight: bold;
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
    padding-left: 125px;
    padding-right: 125px;
    font-size: 30px;
    padding: 0 10px;
}
.btn-3 {
    width: 180px;
    height: 50px;
    text-align: center;
    color: white;
    background-color: aquamarine;
    border: 2px solid white;
    float: left;
    position: relative;
    margin-left: 400px;
    margin-top: 50px;
}
.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    background-color: #fff;
    grid-template-columns: auto;
    grid-template-rows: 175px 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
    width: 270px;
    height: 325px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-left: 38px;
    border-radius: 0;
    padding-bottom: 10px;
}

.card img {
    max-width: 270px;
    object-fit: contain;
    border-radius: 0;
}
.desk {
    font-size: 15px;
    padding-top: 0px;
    margin-top: 0px;
    padding: 10px;

}
.judul {
    padding-top: 10px;
    font-size: 23px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
}
.slide3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 50px;
    padding-left: 125px;
    padding-right: 125px;
    margin: 0 0 16px;
    float: left;
    padding-top: 50px;
    padding: 0 25px;
}
.form-container {
    border: 4px solid aquamarine;
    width: 500px;
    text-align: left;
  }
.formslide3 {
    text-align: center;
  font-size: 30px;
  margin: 40px;
}
.forminput{
    display: grid;
  grid-template-columns: auto auto;
  margin: 10px;
}
.form {
    display: flex;
    flex-direction: column;
  }
div h1 {
    margin-bottom: 15px; font-size: 40px;
}

.btn-submit {
    text-align: center;
    color: white;
    background-color: aquamarine; 
    border: 2px solid white; 
    position: relative; 
    font-size: small; 
    margin-top: 20px; 
    height: 30px; 
    width: 460px;
}
.pg2,
.pg1,
.pg3 { 
    font-size: 15px; margin-left: 10px; margin-top: 20px;
}

.hg1,
.hg2,
.hg3 {
    margin-left: 10px; margin-top: 20px; margin-bottom: 20px;
}
.h3-inp {
    text-align: center; font-size: 30px;
    margin: 40px;
}

label {
    margin: 10px;
    text-align: left;
    font-weight: bold;
    font-size: 23px;
  }
  input {
    font-size: 18px;
    width: 180px;
    padding: 2px;
    margin: 10px;
    outline: none;
    border: none;
    background-color: white;
  }
  .forminput .underline {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 10px;
    margin-right: 10px;
    height: 2px;
    background-color: #333;
    color: black;
  }
  .form3 {
    display: grid;
    grid-template-columns: auto;
    width: 425px;
    margin: 10px;
  }
  .form3 .underline {
    display: grid;
    grid-template-columns: auto;
    width: 460px;
    margin-left: 10px;
    margin-right: 10px;
    height: 2px;
    background-color: #333;
    color: black;
  }  
  .slideterakhir {
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    padding-bottom: 10px;
    padding-left: 125px;
    padding-right: 125px;
  }
  .tearkhir {
    padding-top: 25px;
    color: white;
    width: 350px;
  }
  .terakhir2 {
    padding-top: 25px;
    color: white;
  }
  
  .terakhir2 svg {
    width: 40px;
    margin-top: 40px;
    margin-left: 25px;
  }